html,
body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}
* {
    font-family: "Roboto", sans-serif;
    color: #1A202C;
}
:root {
    --primary: #F8BE2E;
}
h2 {
    font-size: 2rem;
    font-weight: 800;
}
.content{
    word-wrap: break-word;
}

.content p{
    line-height: 1.7em;
    margin-bottom: 1.5rem;
    font-weight: 500;
}
.content a {
    font-weight: 600;
    color: #4299E1 !important;
}
.content strong{
    background-color: #FEFCBF;
}
.content img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 0.25rem;
}
.content ol, .content ul{
    margin: 0 0 1.5em 2em;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 800;
    margin-bottom: 20px;
}
.content h1{
    font-size: 3rem;
}
.content h2{
    font-size: 2rem;
}
.content h3{
    font-size: 2rem;
}
.content h4{
    font-size: 1.5rem;
}
.content iframe{
    width: 100%;
}